.u-wrapper{
  margin-bottom: 20px;
}
label{
  color: antiquewhite;
}
span{
  color: antiquewhite;
}
.project, .testimony {
    margin-block: 2.5em;
  }
  
  .form {
    max-inline-size: 550px;
    margin: auto;
  }
  
  .form label {
    display: block;
    margin-block-start: 1em;
    margin-block-end: .5em;
    padding-inline-start: .5em;
  }
  
  .form label span {
    color: #DA1414;
  }
  
  .form input, .form textarea {
    box-sizing: border-box;
    width: 100%;
    font-size: 1rem;
    padding: .8em;
    border-radius: .5em;
    border: 1px solid #858C94;
  }
  .form textarea {
    margin-block-end: 2em;
    font-family: inherit;
  }
  
  input::-webkit-input-placeholder {
    color: #0F0A0A88;
  }
  
  
  .contact {
    margin-block-end: 5em;
  }
  
  .footer {
    text-align: center;
  }
  
  #trucazo {
    opacity: 0;
  }
  
  @media screen and (min-width: 768px) {
    .hero-content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "description image";
    }
  
    .hero-description {
      grid-area: description;
    }
  
    .hero-image {
      grid-area: image;
    }
    .hero-image img {
      inline-size: 500px;
      margin-top: -50px;
    }
  
    .pre-projects-content {
      max-inline-size: 900px;
      margin: auto;
    }
  
    .project {
      grid-template-areas: "description image";
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 3em;
    }
    .project-cta {
      display: flex;
      align-items: center;
      gap: 1em;
    }
    .project-cta button + button {
      margin: 0;
    }
  
    .testimony {
      margin: auto;
      padding: 5em;
      text-align: center;
    }
    .testimony-copy {
      font-size: 2.2em;
      line-height: 55px;
    }
  
    .testimony-title {
      font-size: 1.5em;
    }
    .project, .testimony {
      margin-block: 5em;
    }
  
    .form .tag span {
      display: block;
      text-align: center;
    }
  
  }
  